html {
  font-family: 'Varela Round', sans-serif;
  font-size: 23px;
  color: white;
  background-color: rgba(64, 193, 32, 0.651);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.overlay1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 70%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.overlay2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 70%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.content{
  position: absolute;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  font-size: 60px;
}
input {
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    color: rgb(80, 168, 58);
}
textarea {
  color: rgb(80, 168, 58);
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  text-align:center;
  width: 350px;
  min-width: 350px;
  max-width: 500px;
  min-height: 50px;
  max-height: 100px;
  resize: none;
}
.number-input {
  min-width: 160px;
}
label {
  font-size: 15px;
}