html {
  font-family: 'Varela Round', sans-serif;
  color: white;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 5px;
}
.bg {
  background-image: linear-gradient(#9ee87cde 60%, #d9f2ce);
  height: 100%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.overlay2 {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  height: 70%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.content{
  position: absolute;
  width: 100%;
}
#logo {
  font-size: 60px;
  text-shadow:2px 0 0 #a0db8d,0 2px 0 #a0db8d,-2px 0 0 #a0db8d,0 -2px 0 #a0db8d;
  margin-bottom: 70px;
  -webkit-filter: drop-shadow(0px 4px 5px #75bd679f);
}
.questionaire-form {
  margin-bottom: 50px;
}
.prompt {
  font-size: 25px;
  color: white;
  text-shadow:
  -1px -1px 0 #a0db8d,
  0   -1px 0 #a0db8d,
  1px -1px 0 #a0db8d,
  1px  0   0 #a0db8d,
  1px  1px 0 #a0db8d,
  0    1px 0 #a0db8d,
 -1px  1px 0 #a0db8d,
 -1px  0   0 #a0db8d;
 -webkit-filter: drop-shadow(0px 4px 5px #75bd679f);}
label {
  font-size: 15px;
}
input {
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  color: rgb(80, 168, 58);
  -webkit-filter: drop-shadow(0px 4px 5px #75bd679f);
}
.thoughts {
  margin-bottom: 50px;
}
textarea {
  font-weight: bold;
  padding: 10px;;
  color: #76bd66;
  background-color: #e0ffd3;
  border-color: #76bd66;
  border-width: 3px;
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  text-align: center;
  width: 600px;
  min-height: 50px;
  max-height: 100px;
  border-radius: 20px;
  resize: none;
  outline: none;
  -webkit-filter: drop-shadow(0px 4px 5px #75bd679f);
}
.emotions-container {
  width: 100%;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  grid-gap: 10px;
  margin-bottom: 70px;
}
.emotions {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-emo{
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 25px;
  color: white;
  text-shadow:
  -1px -1px 0 #a0db8d,
  0   -1px 0 #a0db8d,
  1px -1px 0 #a0db8d,
  1px  0   0 #a0db8d,
  1px  1px 0 #a0db8d,
  0    1px 0 #a0db8d,
 -1px  1px 0 #a0db8d,
 -1px  0   0 #a0db8d;
 padding: 15px;
 -webkit-filter: drop-shadow(0px 4px 5px #75bd675e);
}
.btn-emo:hover {
  color: #71ba65;
  text-shadow:
  -0.5px -0.5px 0 #a0db8d,
  0   -0.5px 0 #a0db8d,
  0.5px -0.5px 0 #a0db8d,
  0.5px  0   0 #a0db8d,
  0.5px  0.5px 0 #a0db8d,
  0    0.5px 0 #a0db8d,
 -0.5px  0.5px 0 #a0db8d,
 -0.5px  0   0 #a0db8d;
 -webkit-filter: drop-shadow(0px 0px 0px  #c5ffb6);
}
.text-input {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  color: #76bd66;
  font-weight: bold;
  background-color: #e0ffd3;
  border-style:solid;
  border-width: 3px;
  border-color: #76bd66;
  text-align:center;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 200px;
  height: 20px;
  margin-right: 10px;
  
}
.single-button, .submit-button {
  background-color: #76bd66;
  color: white;
  border-style:none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align:center;;
  padding: 10px;
}
.single-button:enabled:hover, .submit-button:enabled:hover {
  background-color:#6cab5e;
  color: white;
}
.single-button:enabled:active, .submit-button:enabled:active {
  background-color:#ffffff;
  color: #76bd66;
}
.single-button:disabled, .submit-button:disabled {

  opacity: .3;
}
.improvements {
  width: 100%;
  margin-bottom: 100px;
}
.slidecontainer {
  width: 100%;
  margin-bottom: 50px;
}
.slider {
  -webkit-appearance: none;
  width: 600px;
  height: 15px;
  border-radius: 10px;   
  background: #e0ffd3;
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -webkit-filter: drop-shadow(0px 4px 5px #75bd679f);
}
.slider:hover {
  opacity: 1;
  background: #e0ffd3;

}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-filter: drop-shadow(0px 4px 5px #75bd67ca);
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #71ba65;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  -webkit-filter: drop-shadow(0px 4px 5px #75bd67ca);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #71ba65;
  cursor: pointer;
}
.faces-container {
  margin-bottom: 15px;
  -webkit-filter: drop-shadow(0px 4px 5px #75bd679f);
  
}
#faces-blur {
  width: 650px;
  -webkit-filter: blur(3px);
  position: relative;
}
#faces {
  width: 650px;
  position: absolute;
  -webkit-filter: brightness(95%);
}
.cards-container {
  width: 100%;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.card {
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;
  background-color: #6cab5e;
  color: white;
  font-size: 20px;
  font-weight: ;
  text-align: center;
  width: 300px;
  min-height: 30px;
  padding: 5px;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 15px;
  border: solid 3px #d3f4c5;
  -webkit-filter: drop-shadow(0px 4px 5px #75bd679f);
}
.remove-card {
  cursor:pointer;
  font-weight: bolder;
  font-size: 1.2em;
  position:absolute;
  right: 10px;
  top: 2px;
  -webkit-filter: drop-shadow(0px 4px 3px #426b3a9f);
}
.remove-card:hover {
  -webkit-filter: drop-shadow(0px 4px 5px #d2fdca) drop-shadow(0px 4px 1px #426b3a9f);
}
.remove-card:active {
  -webkit-filter: drop-shadow(0px 4px 3px #426b3a9f);
}